__pycache__/
*.pyc
/.venv/
/.ruff_cache/
/.pytest_cache/
/.coverage
/htmlcov/
/webui/node_modules/
/webui/dist/
/webui/coverage/
/webui/.env
/webui/*.tsbuildinfo
/.idea/
/.run/
/volume/
/.env
!/.github/
/build/
/dist/
/output/
/tmp/
